<div class="col-sm-1">
  {{#if needsInterpreter}}
  <button class="interpreter btn btn-danger"}}>{{ interpreter }}</button>
  {{else}}
  <button class="interpreter btn btn-default"}}>{{ interpreter }}</button>
  {{/if}}
</div>

