<form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    {{input id="date-input" type="text" class="form-control" placeholder="Date, e.g., 'tomorrow'" value=newCalendarDate}}
  </div>
  <button id="date-submit" {{action 'chooseDate'}} class="btn btn-default">Submit</button>
</form>

