<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    {{partial "navbar-header"}}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="triage-navbar-collapse-1">
      {{partial "navbar-links"}}
      {{partial "navbar-form"}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

